language: objective-c
 
os: osx 
osx_image: xcode8.2
xcode_sdk: iphonesimulator9.3

install:
    - export LANG=en_US.UTF-8
    - brew update
    - open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app --args -CurrentDeviceUDID "808A0798-21A1-4579-B15E-DA3CC5782582"
    - nvm install 4
    - gem install cocoapods
    - npm install -g grunt-cli
    - npm install -g nativescript@2.4.2 --ignore-scripts
    - tns usage-reporting disable
    - tns error-reporting disable
    - npm install
    
script:
    - grunt build
    - cd sample
    - npm install
    - tns test ios --emulator --justlaunch
    - cd ..
